.messageListWrapper {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-start;

    > p {
        height: 2.8rem;
        margin: 3.2rem 0;
        font-size: 3.2rem;
        color: #80ff72;
        word-spacing: 0.5rem;
        letter-spacing: 0.1rem;

        span {
            color: #5d7377;
        letter-spacing: 0.5rem;
        }

        .icon {
            margin-right: 1.5rem;
        }
    }
}

.messageList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    flex: 1;

    list-style-type: none;

    .message {
        max-width: 44rem;

        &:nth-child(2) {
            margin-left: 8rem;
        }

        .messageContent {
            font-size: 2rem;
            line-height: 2.8rem;
        }

        .messageUser {
            margin-top: 1.6rem;
            display: flex;
            align-items: center;

            .userImage {
                padding: 2px;
                background-color: #7ee8fa;
                background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
                border-radius: 50%;
                line-height: 0;

                img {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    border: 4px solid #121214;
                }
            }

            span {
                font-size: 1.6rem;
                margin-left: 1.2rem;
            }
        }
    }
}
