/* :root {
    --first-color: var(#7ee8fa);
}
 */
.loginBoxWrapper {
    height: 100vh;
    width: 100%;
    background: #17171a;

    padding: 47rem 8rem 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #17171a url(../../assets/people.png) no-repeat center top;
    
    .icon {
        font-size: 2rem;
        padding-left: 300rem;
    }
    strong {
        font-size: 2.9rem;
        line-height: 2.8rem;
    }


    .signInWithGithub {
        background: #80ff72;
        margin-top: 1.5rem;
        padding: 0 4rem;
        height: 4.8rem;
        color: #09090a;
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            filter: brightness(0.9);
        }

        svg {
            margin-right: 1.6rem;
        }
    }
}